<div id="frase_quem_somos">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur.</p>
</div>

<div id="slider">
  <ul class="sliders">
    <li class="1">
      <div class="txt_banner">
        <p class="tit_banner">
          Sistema Up&Down,
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue scelerisque metus.
          Nulla facilisi. Praesent vel lorem felis. Suspendisse potenti.
        </p>
      </div>

      <div class="img_banner">
        <p><img src="images/img_banner1.png"></p>
      </div>
    </li>

    <li class="2">
      <div class="txt_banner">
        <p class="tit_banner">
          2,
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue scelerisque metus.
          Nulla facilisi. Praesent vel lorem felis. Suspendisse potenti.
        </p>
      </div>

      <div class="img_banner">
        <p><img src="images/img_banner2.png"></p>
      </div>
    </li>

    <li class="3">
      <div class="txt_banner">
        <p class="tit_banner">
          3,
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue scelerisque metus.
          Nulla facilisi. Praesent vel lorem felis. Suspendisse potenti.
        </p>
      </div>

      <div class="img_banner">
        <p><img src="images/img_banner1.png"></p>
      </div>
    </li>

    <li class="4">
      <div class="txt_banner">
        <p class="tit_banner">
          4,
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue scelerisque metus.
          Nulla facilisi. Praesent vel lorem felis. Suspendisse potenti.
        </p>
      </div>

      <div class="img_banner">
        <p><img src="images/img_banner2.png"></p>
      </div>
    </li>
  </ul>
</div>

<div id="conteudo">
  <div class="informacoes">
    <p class="titulo">
      <img src="images/icone_fazemos.png" align="absmiddle">
      O Que Oferecemos
    </p>

    <br>

    <div class="servico1">
      <p class="titulo_oferecemos">
        <img src="images/icone_oferecemos1.png" align="absmiddle">
        Lorem Ipsum
      </p>

      <br>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis risus vel justo
        fermentum mattis. Duis lacus erat, suscipit nec vulputate et, sodales ac eros.
      </p>
    </div>

    <div class="servico2">
      <p class="titulo_oferecemos">
        <img src="images/icone_oferecemos2.png" align="absmiddle">
        Lorem Ipsum
      </p>

      <br>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis risus vel justo
        fermentum mattis. Duis lacus erat, suscipit nec vulputate et, sodales ac eros.
      </p>
    </div>

    <div class="servico3">
      <p class="titulo_oferecemos"><img src="images/icone_oferecemos3.png" align="absmiddle"> Lorem Ipsum</p>

      <br>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis risus vel justo
        fermentum mattis. Duis lacus erat, suscipit nec vulputate et, sodales ac eros.
      </p>
    </div>

    <br clear="all">
  </div>

  <div class="informacoes">
    <p class="titulo">
      <img src="images/icone_contato.png" align="absmiddle">
      Contato
    </p>

    <br>

    <div id="contatos">
      <p>
        <a href="mailto:contato@acanga.com">
          <img src="images/icone_contato_rodape.png" align="absmiddle" border="none">
          contato@acanga.com
        </a>
      </p>

      <p>
        <img src="images/icone_telefone.png" align="absmiddle" border="none">
        21 9999.9999
      </p>

      <p>
        <img src="images/icone_endereco.png" align="absmiddle" border="none">
        Av. Rio Branco, 1 - sl. 1201 - Centro
      </p>

      <p>
        <a href="">
          <img src="images/icone_facebook.png" align="absmiddle" border="none">
          Facebook
        </a>
      </p>

      <p>
        <a href="">
          <img src="images/icone_twitter.png" align="absmiddle" border="none">
          Twitter
        </a>
      </p>

      <p>
        <a href="">
          <img src="images/icone_linkedin.png" align="absmiddle" border="none">
          Linkedin
        </a>
      </p>
    </div>

    <div id="formulario">
      <p>
        Nome
      </p>

      <p>
        <input type="text" class="input_text">
      </p>

      <br>

      <p>
        Email
      </p>

      <p>
        <input type="text" class="input_text">
      </p>

      <br>

      <p>
        Mensagem
      </p>

      <p>
        <textarea class="input_textarea"></textarea>
      </p>

      <br>

      <p align="right">
        <input type="submit" class="input_submit" value="Enviar">
      </p>
    </div>

    <br clear="all">
  </div>
</div>