<!DOCTYPE html>

<html dir="ltr">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

      <title>Acanga - Soluções Cabeça</title>

      <link href="/css/base.css" rel="stylesheet" type="text/css">

      <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  </head>
  <body>
    <div id="geral">
      <div id="logo">
        <p><img src="images/logo.png" alt="Acanga" title="Acanga"></p>
      </div>

      <br clear="all">

      <%= yield %>
    </div>

    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/jquery.next_or_first.js"></script>
    <script src="/js/jquery.slider.js"></script>
    <script src="/js/acanga.js"></script>
  </body>
</html>